.mcb-stepper-cont{
    width: 100%;
}
.mcb-step-circle{
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 3px #C4C4C4;
    background-color: #fff;
    transition: var(--transition);
    &:hover{
        box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.86);
        scale: 1.1;
        -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.86);
        -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.86);
    }
}
.mcb-step-l{
    width: 90px;
    height: 2px;
}

.mcb-active-step{
    .mcb-step-circle{
        border: solid 10px var(--blue-1);
        &:hover{
            box-shadow: 0px 1px 10px -2px var(--blue-1);
            -webkit-box-shadow: 0px 1px 10px -2px var(--blue-1);
            -moz-box-shadow: 0px 1px 10px -2px var(--blue-1);
        }
    }
}


@media screen and (max-width: 1101px) {
    .mcb-step-l{
        width: 60px;
    }
}
@media screen and (max-width: 601px) {
    .mcb-step-circle{
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
    }

    .mcb-active-step .mcb-step-circle{
        border-width: 7px;
    }
    .mcb-step-l{
        width: 20px;
    }
    .mcb-step-control-btn{
        width: auto !important;
        justify-content: center;
    }
}
