.mcb-grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}
.mcb-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    
}
ol, ul{
    margin-left: 1rem;
}

@media screen and (max-width: 1301px) {
    .mcb-grid-4{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1001px) {
    .mcb-grid-4{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 701px) {
    .mcb-grid-2, .mcb-grid-4{
        grid-template-columns: repeat(1, 1fr);
    }
}